.ContentMain {
  flex: 1;
  /* width: 100px; */
}

.ContentMain-title {
  background-color: var(--background-color);
  font-size: 20px;
  width: 100%;
  padding: var(--m);
  color: #fefefe;
  font-weight: 700;
}

.ContentMain-content {
  /* background-color: var(--background-color); */
  font-size: var(--m);
  width: 100%;
  padding: var(--m);
  /* color: #fefefe; */
  /* font-weight: 700; */
}
